@page "/book"
@using System.Globalization
@using Taxaopg.Services

<h3 class = "title">Taxa Booking</h3>


    @*PAGE BODY*@
<div class="page-body">

@*Extra Fees / Tillæg Display*@

<div class="extras"> <h5><strong>Tillæg</strong></h5>
  <div class="tillæg">
    <div>
        <label>
            <input type="checkbox" class="checkbox" @bind="cykel" value="Cykel"/>
            Cykel (+30 kr.)
        </label>
        
    </div>

    <div>
        
        <label>
            <input type="checkbox" class="checkbox" @bind="opbæring" id="carry" value="Opbæring">
            Opbæring (+30 kr.)
            </label>
    </div>

    <div>
        
        <label>
           <input type="checkbox" class="checkbox" @bind="liftvogn"  value="Liftvogn">
            Liftvogn (+350 kr.)
        </label>  

    </div>

    <div>
        <label>
             <input type="checkbox" class="checkbox" @bind="fraLufthavn" value="Lufthavn" /> 
             Lufthavn (+15 kr.)
         </label>

    </div>


    <div class="overBroen"> <h5><strong>Tillæg for kørsel over broer</strong></h5>
        
        <div>
            <label>
                <input type="checkbox" class="checkbox" @bind="bro1"  value="Øresund">
                Øresund (+350 kr.)
            </label>
        </div>
        
        <div>
            <label> 
                <input type="checkbox" class="checkbox" @bind="bro2"  value="Storebæltsbroen">
                Storebæltsbroen (+540 kr.)</label><br>
        </div>
        

     </div>
    </div>

 </div>

 @*Calculator Body*@
 <div class="calcBody">


@*Taxitype selector*@

<div>
    <label for="taxiType">Vælg taxa:</label>
    <select id="taxiType" @bind="selectedTaxiType">
        <option value="Almindelige (Dagtimer)">Almindelige (Dagtimer)</option>
        <option value="Almindelige (Aften/Nat/Weekend)">Almindelige (Aften/Nat/Weekend)</option>
        <option value="MiniBus (Dagtimer)">MiniBus (Dagtimer)</option>
        <option value="MiniBus (Aften/Nat/Weekend)">MiniBus (Aften/Nat/Weekend)</option>
    </select>
</div>

@*Date *@

<div id="divCon">
    <label for="bookingDate">Select Date:</label>
    <input type="date" id="bookingDate" @bind="bookingDate" />
</div>

@*Distance and Google Map*@

<div>
    <label for="distance">Distance (km):</label>
    <input type="number" id="distance" @bind="distance" step="0.01" />

    <a class="gmButton" href="https://www.google.com/maps/dir/Your+Location" 
     target="popup" 
     onclick="window.open('https://www.google.com/maps/dir/Your+Location','popup','width=1000,height=680'); return false;">
      <img src="/images/tmap.png" alt="Button Image" width="50" height="50"  title="Open Google Maps"/>
    </a>
</div>

@*Antal Minutter*@
<div>
    <label>
      Minutes: <input type="number" @bind="minutes" />
    </label>
</div>

@*Beregner knap*@
<div id="calcbut">
    <button id ="calculatePrice" @onclick="CalculatePrice">Calculate Price</button>
</div>

@*Receipt*@

@if (showReceipt)
{
    <div class="receipt">
        <h4><strong>Receipt</strong></h4>
        <p><strong>Taxi Type:</strong> @selectedTaxiType</p>
        <p><strong>Date:</strong> @bookingDate.ToShortDateString()</p>
        <p><strong>Distance (km):</strong> @distance</p>
        <p><strong>Minutes:</strong> @minutes</p>

        @if (cykel || fraLufthavn || bro1 || bro2 || opbæring || liftvogn)
        {
            <h5>+Tillæg</h5>

            @if (cykel)
            {
                <p>Cykel (+30 kr.)</p>
            }
            @if (fraLufthavn)
            {
                <p>Lufthavn (+15 kr.)</p>
            }
            @if (bro1)
            {
                <p>Øresund (+350 kr.)</p>
            }
            @if (bro2)
            {
                <p>Storebæltsbroen (+540 kr.)</p>
            }
            @if (opbæring)
            {
                <p>Opbæring (+30 kr.)</p>
            }
            @if (liftvogn)
            {
                <p>Liftvogn (+350 kr.)</p>
            }
        }

    </div>
}

@*Total Price*@

@if (calculatedPrice.HasValue)
{
    <div id="totalp">
        <h4 id="totalPrice">Total Price: @calculatedPrice.Value.ToString("C", CultureInfo.CurrentCulture)</h4>
    </div>
}

 </div> @*Calculator Body End*@

 @*Pris Tabel Display*@

<div class="information-box @(selectedTaxiType == "Almindelige (Dagtimer)" ? "visible" : "hidden")">
            
    <div class ="prisTitel">Pris Tabel</div>

    <table>

              <tr>
                 <th>Start</th>
                 <th>Kilometer</th>
                 <th>MinutPris</th>

              </tr>

              <tr>
                   <td>37(kr./tur)</td>

                   <td>12,75(kr./km)</td>

                   <td>5,75(kr./min)</td>
              </tr>

              <tr>
                <th id="passagerer">1-6 passagerer</th>
              </tr>

              <tr>
                <th id="tid">Dagtimer</th>
              </tr>
              

               <tr>
                <td>Mandag-Fredag kl.06-18</td>
              </tr>

              </table>
</div>
<div class="information-box @(selectedTaxiType == "Almindelige (Aften/Nat/Weekend)" ? "visible" : "hidden")">

    <div class ="prisTitel">Pris Tabel</div>

    <table>

              <tr>
                 <th>Start</th>
                 <th>Kilometer</th>
                 <th>MinutPris</th>

              </tr>

              <tr>
                   <td>47(kr./tur)</td>

                   <td>16(kr./km)</td>

                   <td>7(kr./min)</td>
              </tr>

              <tr>
                <th id="passagerer">1-6 passagerer</th>
              </tr>

              <tr>
                <th id="tid">Aften/Nat/Weekend</th>
              </tr>
              

               <tr>
                <td>Mandag-Fredag kl.18-06</td>
              </tr>
               <tr>
               <td>Lørdag-Søndag kl.00-24</td>
              </tr>
              </table>
</div>

<div class="information-box @(selectedTaxiType == "MiniBus (Dagtimer)" ? "visible" : "hidden")">
 
    <div class ="prisTitel">Pris Tabel</div>

    <table>

              <tr>
                 <th>Start</th>
                 <th>Kilometer</th>
                 <th>MinutPris</th>

              </tr>

              <tr>
                   <td>77(kr./tur)</td>

                   <td>17(kr./km)</td>

                   <td>5,75(kr./min.)</td>
              </tr>

              <tr>
                <th id="passagerer">7-8 passagerer</th>
              </tr>

              <tr>
                <th id="tid">Dagtimer</th>
              </tr>
              

               <tr>
                <td>Mandag-Fredag kl.06-18</td>
              </tr>

              </table>
</div>
<div class="information-box @(selectedTaxiType == "MiniBus (Aften/Nat/Weekend)" ? "visible" : "hidden")">

    <div class ="prisTitel">Pris Tabel</div>

     <table>

              <tr>
                 <th>Start</th>
                 <th>Kilometer</th>
                 <th>MinutPris</th>

              </tr>

              <tr>
                   <td>87(kr./tur)</td>

                   <td>19(kr./km)</td>
                   <td>7(kr./min.)</td>
              </tr>

              <tr>
                <th id="passagerer">7-8 passagerer</th>
              </tr>

              <tr>
                <th id="tid">Aften/Nat/Weekend</th>
              </tr>
              

               <tr>
                <td>Mandag-Fredag kl.18-06</td>
              </tr>
               <tr>
               <td>Lørdag-Søndag kl.00-24</td>
              </tr>
              </table>
</div>


</div>  @*Page-body*@



@code {
    private string selectedTaxiType = "Almindelige (Dagtimer)";
    private DateTime bookingDate = DateTime.Today;
    private TimeSpan bookingTime = DateTime.Now.TimeOfDay;
    private double distance;
    private decimal? calculatedPrice;
    private bool showReceipt = false;
    bool cykel;
    bool opbæring;
    bool liftvogn;
    bool fraLufthavn;
    bool bro1;
    bool bro2;
    int minutes;

    private void CalculatePrice()
    {
        var calculator = new TaxiPriceCalculator();
        calculatedPrice = calculator.CalculatePrice(selectedTaxiType, bookingDate, distance, cykel, opbæring, liftvogn, fraLufthavn, bro1, bro2, minutes);
        showReceipt = true;
    }


     private string bookingTimeFormatted;


    private void HandleTimeInput(ChangeEventArgs e)
    {
        bookingTimeFormatted = e.Value.ToString();
    }

}
